#nav {
  font-family: "FranklinGothic-ExtraCond", "Arial Black", serif;
  letter-spacing: .01em;

  ul {
    list-style: none none;
    font-size: 22px;
    text-transform: uppercase;
    padding: 40px 0 0;
    margin: 0 0 0 8px;

    li {
      margin: 0;
      display: inline;
      padding: 0 14px 0 0;
      text-shadow: 5px 5px 5px #000;
    }
  }

}
