#cover {
  background: url(../../../assets/images/page1_shadows.png) no-repeat center center;
  padding-bottom: 30px;

  & > main {
    margin-top: 0;
    .col {
      float: left;
      width: 520px;

      h1 {
        background: url(../../../assets/images/logo.png) no-repeat 0 0;
        width: 499px;
        height: 349px;
        text-indent: -999em;
        margin: 170px 0 56px;
        font-size: 50px;
        color: #000;
        line-height: 100px;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        top: -45px;
        z-index: 5;

      }
    }

    .guitar1 {
      margin: -118px -86px 0 -72px;
      float: left;
    }
  }
}
